export(analyze_tpm)
export(empirical_browns_method)
export(run_analysis)
export(plot_hallmarks)
export(plot_ebm)
export(plot_analysis)
export(batch_analyze)
importFrom(stats,pchisq)
importFrom(stats,qchisq)
importFrom(stats,dchisq)
importFrom(stats,cov)
importFrom(stats,wilcox.test)
importFrom(stats,var)
importFrom(stats,median)
importFrom(stats,setNames)
importFrom(utils,read.table)
